{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="image-container my-5">
                <a href="/media/alice.jpg" target="_blank">
                    <img class="card-img-top img-fluid" src="/media/alice.jpg" alt="Alice">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details my-5">
                <p class=" text-right product-name"><strong>About Me</strong></p>
                <p class="text-justify about-alice">Hi I am Alice. A few years ago, while listening to my sister
                    reading I got distracted by a talking white rabbit running through our garden.
                    I followed him and ended up falling down a rabbit hole. I felt like I was falling for days, I landed
                    in a room with just a table and a very small door.
                    After eating a cake that was on the table, I shrunk right down and was able to fit through the door,
                    which lead me to Wonderland. As you can guess from the name this was an
                    amazing place full of amazing people, creatures and plants.</p>
                <hr class="w-20 mb-1 hr-visible">
                <p class="text-justify about-alice">After spending some time there I fell in love with Wonderland and
                    now I want to share the wonder
                    with you. This is why I opened Alice's Wonderland.
                    Your one stop shop for everything Wonderland.</p>
                <hr class="w-20 mb-1 hr-visible">
                <p class="text-justify about-alice">There are so many amazing things to see and do in Wonderland, be
                    sure to take a look around</p>
                <div class="nav-link">
                    <hr class="w-20 mb-1 hr-visible">
                    <a href="{% url 'products'%}" target="">Click here to head back to the shop!</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}