{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container main-page-container">
    <div class="row h-100">
        <div class="col-12 col-md-12 col-sm-12 my-auto welcome-box">
            <h1>Welcome to Wonderland</h1>
            <h3>We're all mad here!!</h3>
            <div class="my-4">
                <h5>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase rounded ">Shop now</a>
                </h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}