{% extends "base.html" %}
{% load static %}
{% load basket_tools %}



{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-20 mb-1 hr-visible">
            <h2 class="heading-font">Your Basket</h2>
            <hr class="w-20 mb-1 hr-visible">

        </div>
    </div>
    <div class="row welcome-box">
        <div class="col">
            {% if basket_items %}
            <div class="d-block d-md-none">
                <div class="row">
                    <div class="col">
                        {% include "basket/basket_total.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include "basket/checkout_button.html" %}
                        <p class="mb-5">Please see below for order details!</p>
                    </div>
                </div>
                {% for item in basket_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "basket/product_image.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "basket/product_info.html" %}
                        </div>
                        <div class="col-12 col-sm-6 order-sm-last">
                            <p class="my-0">Price Each: €{{ item.product.price }}</p>
                            <p><strong>Subtotal: </strong>€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            {% include "basket/quantity_form.html" %}
                        </div>
                    </div>
                    <div class="row"><div class="col"><hr></div></div>
                {% endfor %}
                <div class="top-button rounded">
                    <a class="top-button-link h-100">
                        <p class="button-text par">Back to top</p>
                    </a>
                </div>
            </div>
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-white">
                        <tr>
                            <th scope="col" class="basket-elements">Product Info</th>
                            <th scope="col" class="basket-elements"></th>
                            <th scope="col" class="basket-elements">Price</th>
                            <th scope="col" class="basket-elements">Qty</th>
                            <th scope="col" class="basket-elements">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                    <tr>
                        <td class="p-3 w-25">
                            {% include "basket/product_image.html" %}
                        </td>
                        <td class="py-3">
                            {% include "basket/product_info.html" %}
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-white">${{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            {% include "basket/quantity_form.html" %}
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-white">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            {% include "basket/basket_total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            {% include "basket/checkout_button.html" %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="text-white mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="shop-now-button rounded text-uppercase h-25 d-inline-block">
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Product update button
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Product delete button
    $('.delete-link').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('delete_')[1];
        var url = `/basket/delete/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })

     // Back to top button
     $('.top-button-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}