/* Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merienda:wght@400;700&family=Rock+Salt&display=swap');


/* Header */
html {
    height: 100% !important;
}

body {
    background-color: #8b008b !important;
    background: url('/media/main-image-three.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Lora;
}

/* Logo and Navbar*/

.nav-link, p {
    color: #4dad7d;
    font-family: Merienda;
    font-size: large;
    text-transform: uppercase;
}


.main-logo-text {
   font-size: 50px;   
}

.topnav {
    background-color: aliceblue;
}

.search-bar {
    font-family: Merienda;
    text-transform: uppercase;
}


/* Buttons */

.shop-now-button {
    background: #f0f8ff;
    color: #4dad7d;
    min-width: 260px;
}

.btn-magenta {
    background: #4dad7d;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-magenta:hover,
.btn-magenta:active,
.btn-magenta:focus {
    background: #8b008b;
    color: white;
}

/* Main welcome area */

.welcome-box {
    background-color: #4dad7d;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    opacity: 0.8;
    text-align: center;
    border: 3px aliceblue solid;
    border-radius: 20px;
}

/* Icons */

.fa, .fas {
    font-size: large;
    font-family: Merienda;
    color: #4dad7d;
}


/* Footer */

.footer {
    background-color: aliceblue;
    color: #4dad7d;
    font-family: Merienda;
    font-size: large;
    text-transform: uppercase;
    text-align: center;
}

.footer-par {
    font-family: Lora;
    font-size: medium;
}