/* Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merienda:wght@400;700&family=Rock+Salt&display=swap');


/* Header */
html {
    height: 100% !important;
}

body {
    background-color: #8b008b !important;
    background: url('/media/main-image-three.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Lora;
}

a {
    color: #4dad7d;
}

p {
    color: aliceblue;
    font-family: Merienda;
    text-transform: none;
}

h4 {
    font-family: Merienda;
}

a:hover {
    color: #8b008b;
}

.form-details {
    color: darkmagenta;
    font-weight: bold;
    text-transform: capitalize;
}

.par {
    color: #4dad7d;
    font-family: Merienda;
    font-size: large;
    text-transform: none;
}

/* Logo and Navbar*/

.nav-link {
    color: #4dad7d;
    font-family: Merienda;
    font-size: large;
    text-transform: uppercase;
}

.main-logo-text {
   font-size: 50px;   
}

.topnav {
    background-color: aliceblue;
    height: 150px;
}

.search-bar {
    font-family: Merienda;
    text-transform: uppercase;
}

.products-navbar {
    background-color: aliceblue;
    color: #4dad7d;
}

.dropdown-menu.show {
    background-color: #f0f8ff;
    
}

.dropdown-item {
    background-color: #f0f8ff;
    color: #4dad7d;
    text-transform: uppercase;
    font-weight: 400;
}

.dropdown-item:hover {
    color: #8b008b;
}

.heading-font {
    background-color: aliceblue;
    opacity: 0.8;
    color: #4dad7d;
    font-family: Merienda;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0.25rem;
}

.custom-toggler.navbar-toggler {
    border-color: #4dad7d;
  } 

.custom-toggler.navbar-toggler-icon {
    background-image: url("/media/menu_icon.png");
}

/* Banner */

.notification-banner {
    background-color: #4dad7d;
    color: aliceblue;
    font-family: Merienda;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}


/* Buttons */

.shop-now-button {
    background: #f0f8ff;
    margin: 3px;
    color: #4dad7d;
    width: auto;
}

.btn-magenta {
    background: #4dad7d;
    color: white;
}

.add-basket-btn {
    background: #4dad7d;
    color: white;
    border: none;
    margin: 5px;
    height: 30px;
    padding: 4px;
    line-height: normal;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-magenta:hover,
.btn-magenta:active,
.btn-magenta:focus
.add-basket-btn:hover,
.add-basket-btn:active,
.add-basket-btn:focus {
    background: #8b008b;
    color: white;
}

.update-link {
    color: aliceblue !important;
    font-size: small;
}

.delete-link {
    color: firebrick !important;
    font-size: small;
}

.top-button {
    height: 30px;
    width: 109px;
    background-color: aliceblue;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}

.top-button:hover
.button-text:hover {
    background: #8b008b;
    color: white;
}

.button-text {
    font-family: 'Merienda';
    font-size: medium;
    text-transform: capitalize;
}

.top-button-link,
.update-link,
.delete-link {
    cursor: pointer;
}

/* Toasts */

.custom-toast {
    overflow: visible;
    overflow: visible;
    font-family: 'Merienda';
    background: #4dad7d;
    color: aliceblue !important;
}

.message-container {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 999999999999;
}


/* Main welcome area */

.welcome-box {
    background-color: #4dad7d;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    opacity: 0.8;
    text-align: center;
    border: 3px aliceblue solid;
    border-radius: 20px;
}

.main-page-container {
    margin-top: 150px;
    margin-bottom: 150px;
}

/* Icons */

.fa, .fas {
    font-size: large;
    font-family: Merienda;
    color: #4dad7d;
}

/* Products */

.product-card {
    width: 18rem;
    padding: 11px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.125);
}

.hr-visible {
        clear: both;
        visibility: hidden;
}

.product-details {
    background-color: aliceblue;
    padding: inherit;

}
.product-name {
    font-family: 'Merienda';
    font-weight: bolder;
    font-size: xx-large;
}

.product-desription {
    font-family: 'Lora';
    font-size: medium;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #4dad7d;
    opacity: 0.4;
    z-index: -1;
}

/* About me */

.about-alice {
    font-family: 'Lora';
    font-size: medium;
}

/* Links */

.signup-link {
    color: aliceblue;
    text-decoration: underline;
}

.signup-link:hover {
    color: #8b008b;
    text-decoration: underline;
}

/* Basket */

.basket-elements {
    color: aliceblue;
    font-family: Merienda;
    text-transform: capitalize;
}

/* Checkout Form */

.checkout-form {
    color: darkmagenta;
    font-family: Merienda;
    font-weight: bold;
    font-size: medium;
    text-transform: capitalize;
    border-radius: 0.25rem;
}

.checkout-form-links {
    color: aliceblue;
    text-decoration: underline;
}

.thankyou-link {
    color: aliceblue !important;
    font-size: inherit;
    text-decoration: underline;
}

.checkout-form-links:hover {
    color: #8b008b;
    text-decoration: underline;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* User Profile */

.user-profile-form {
    font-family: Merienda;
    font-weight: bold;
    font-size: medium;
    text-transform: none;
    border-radius: 0.25rem;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
    color: aliceblue;
    text-transform: none;
    font-family: 'Merienda';
}

.order-form-details {
    font-family: 'Merienda';
    text-transform: none;
    font-size: x-large;
    text-align: left !important;
    margin-left: 20px;
}

.order-form-elements {
    font-size: medium;
    text-align: left;
    font-family: 'Lora';
    margin-left: 20px;
}

.order-confirmation-par {
    font-size: medium;
    text-align: right;
    font-family: 'Lora';
    margin-right: 20px;
}


/* Stripe Elements*/
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.error-message {
    color: firebrick !important;
    font-size: small;
    font-family: 'Merienda';
    font-weight: bolder;
    text-align: left;
}

.error-icon {
    color: firebrick !important;
    font-size: small;
    font-family: 'Merienda';
    font-weight: bolder;
    text-align: left;
}

/* Footer */

.footer {
    background-color: aliceblue;
    color: #4dad7d;
    font-family: Merienda;
    font-size: large;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    margin-top: 10px;
}

.footer-par {
    font-family: Lora;
    font-size: medium;
    color: #4dad7d;
}