/* Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merienda:wght@400;700&family=Rock+Salt&display=swap');


/* Header */
html {
    height: 100% !important;
}

body {
    background-color: #8b008b !important;
    background: url('/media/main-image-three.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Lora;
}

a:hover {
    color: #8b008b;
}

/* Logo and Navbar*/

.nav-link, p {
    color: #4dad7d;
    font-family: Merienda;
    font-size: large;
    text-transform: uppercase;
}


.main-logo-text {
   font-size: 50px;   
}

.topnav {
    background-color: aliceblue;
    height: 150px;
}

.search-bar {
    font-family: Merienda;
    text-transform: uppercase;
}

.products-navbar {
    background-color: aliceblue;
    color: #4dad7d;
}

.dropdown-menu.show {
    background-color: #f0f8ff;
    
}

.dropdown-item {
    background-color: #f0f8ff;
    color: #4dad7d;
    text-transform: uppercase;
    font-weight: 400;
}

.dropdown-item:hover {
    color: #8b008b;
}

.heading-font {
    background-color: aliceblue;
    color: #4dad7d;
    font-family: Merienda;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

/* Banner */

.notification-banner {
    background-color: #4dad7d;
    color: aliceblue;
    font-family: Merienda;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}


/* Buttons */

.shop-now-button {
    background: #f0f8ff;
    color: #4dad7d;
    min-width: 260px;
}

.btn-magenta {
    background: #4dad7d;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-magenta:hover,
.btn-magenta:active,
.btn-magenta:focus {
    background: #8b008b;
    color: white;
}

/* Main welcome area */

.welcome-box {
    background-color: #4dad7d;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    opacity: 0.8;
    text-align: center;
    border: 3px aliceblue solid;
    border-radius: 20px;
}

.main-page-container {
    margin-top: 150px;
    margin-bottom: 150px;
}

/* Icons */

.fa, .fas {
    font-size: large;
    font-family: Merienda;
    color: #4dad7d;
}

/* Products */

.product-card {
    width: 18rem;
    padding: 11px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.125);
}

.hr-visible {
        clear: both;
        visibility: hidden;
}

.product-details {
    background-color: aliceblue;
    padding: inherit;

}
.product-name {
    font-family: 'Merienda';
    font-weight: bolder;
    font-size: xx-large;
}

.product-desription {
    font-family: 'Lora';
    font-size: medium;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #4dad7d;
    opacity: 0.4;
    z-index: -1;
}

.top-button {
    height: 30px;
    width: 109px;
    background-color: aliceblue;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}

.top-button:hover
.button-text:hover {
    background: #4dad7d;
    color: white;
}

.button-text {
    font-family: 'Merienda';
    font-size: medium;
    text-transform: capitalize;
}

.top-button-link {
    cursor: pointer;
}

/* Footer */

.footer {
    background-color: aliceblue;
    color: #4dad7d;
    font-family: Merienda;
    font-size: large;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
}

.footer-par {
    font-family: Lora;
    font-size: medium;
}