{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container main-page-container">
        <div class="row h-100">
            <div class="col-12 col-md-12 col-sm-12 my-auto welcome-box">
                <hr class="w-20 mb-1 hr-visible">
                <h2>Contact us!</h2>
                <H4 class="text-capitalize">Want to ask us something? Simply fill out the form below!</H4>
                <hr class="w-20 mb-1 hr-visible">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button id="submit-button" class="btn shop-now-button">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}