{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container main-page-container">
        <div class="row h-100">
            <div class="col-12 col-md-12 col-sm-12 my-auto welcome-box">
                <hr class="w-20 mb-1 hr-visible">
                <h2>Sign up for our monthly newsletter!</h2>
                <hr class="w-20 mb-1 hr-visible">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}