{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-12 col-sm-12 my-auto welcome-box">

            <h1 style="font-family: 'Merienda'; text-transform: capitalize;">{% trans "Set Password" %}</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="primaryAction btn shop-now-button button-text" type="submit" name="action"
                    value="{% trans 'Set Password' %}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}