{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
      <div class="col-12 col-md-12 col-sm-12 my-auto welcome-box">

    <h1 style="font-family: 'Merienda'; text-transform: capitalize;">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="primaryAction btn shop-now-button button-text" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
      </div>
    </div>
</div>
{% endblock %}
