{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-12 col-sm-12 my-auto welcome-box">

            <h1 style="font-family: 'Merienda'; text-transform: capitalize;">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p style="text-transform: none; font-size: larger;">{% blocktrans %}The password reset link was invalid,
                possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new
                    password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="primaryAction btn shop-now-button button-text" type="submit" name="action"
                    value="{% trans 'change password' %}" />
            </form>
            {% else %}
            <p style="text-transform: none; font-size: larger;">{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}