{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <!-- General-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Wonderland, Alice In Wonderland, Shop ">
    <meta name="description" content="Alices Wonderland, your one stop shop for everything Wonderland">
    <meta name="author" content="Martina Martin">
    <meta name="designer" content="Martina Martin">
    <meta name="owner" content="Martina Martin">
    <meta name="url" content="https://git.heroku.com/alices-wonderland.git">

    <!--Facebook and Google-->
    <meta name="og:title" content="Alices Wonderland">
    <meta name="og:type" content="shop">
    <meta name="og:url" content="https://git.heroku.com/alices-wonderland.git">
    <meta name="og:image" content="">
    <meta name="og:site_name" content="Alices Wonderland">
    <meta name="og:description" content="Your one stop shop for everything Wonderland">
    <meta name="fb:page_id" content="alices.wonderland.cork">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}


    {% block corejs %}
    <script src="https://kit.fontawesome.com/c415ee89f4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}


    <title>Alices Wonderland</title>
</head>

<body>
    <header class="container-fluid fixed-top"></header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}


</body>

</html>